<br><br>
<h1 style="color: white;">{{title}}</h1>
<h3 style="color: white">Welcome Back {{user.name}}</h3>
<hr>
<br>
<div class=" alert-success p-2">
    <h2>Projects</h2>
    <br>
    <a href="/projects">View all</a>
    <br>
</div>
<br>
<div class=" alert-warning p-2" >
    <h2>Blog Posts</h2>
    <br>
    <a href="/blog" >View all</a>
    <br>
</div>
<br>
<div class=" alert-danger p-2">
    <h2>Contacts</h2>
    <br>
    <a href="/contact">View all</a>
    <br>
</div>
<br>
<div class="alert-primary p-2">
    <h2>Subscribers</h2>
    <br>
    <a href="newsletter">View all</a>
    <br>
</div>
<br>